flask
flask-cors
python-dotenv

pymupdf
pypdf

pandas
numpy

supabase

mistralai

scikit-learn

requests

plotly

langchain
langchain-core
langchain-community

langchain-mistralai


pydantic

requests 
beautifulsoup4
